main {
  min-height: 85vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1) !important;
}

#username,
#adminmenu {
  color: rgba(0, 0, 0, 1) !important;
}

#username:hover,
#adminmenu:hover {
  color: #fdcb6e !important;
}
.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.dropdown-item:hover {
  color: #fdcb6e !important;
}

#topNav {
  background-color: #efefef;
}

@media (min-width: 992px) {
  #hometext {
    font-size: 4rem;
  }
}
